<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
</head>
<body>
    <h1>Brain Tumor Detection</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
        <button type="submit">Submit</button>
    </form>
    {% if prediction %}
        <h2>{{ prediction }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image" style="max-width: 500px;">
    {% endif %}
</body>
</html>
